<app-page-book-header (contentSave)="onContentSave()" [canSave]="canSave"></app-page-book-header>

 <!-- GRID Main 2 columns 1 row-->
 <mat-grid-list cols="12" class="editor-grid margin-top-20">
   
    <!-- Left -->
    <mat-grid-tile [colspan]="colspanGridMainBoard" [rowspan]="1" class="white-background">
        
    <angular-editor #aneditor 
      class="width-100 height-100"
      [config]="config"  
      [(ngModel)]="htmlContent" 
      (ngModelChange)="onChange2($event)">
    </angular-editor>
      <!--
      <h5 class="html-header">HTML Output</h5>
      <div class="html" [innerHtml]="chapter.bch_content">  </div>
      -->
    </mat-grid-tile>
    
    <!--  Right  -->
    <mat-grid-tile [colspan]="colspanGridMainRSide" [rowspan]="1" class="flex-column light-blue-background">
      <app-ctrt-list-small [book]="book" [autor]="autor"> </app-ctrt-list-small>
      <app-book-card class="width-100"
        [book]="book" [autor]="autor" [cover]="book.coverpageUrl">
      </app-book-card>
    </mat-grid-tile>

 </mat-grid-list>