::ng-deep .quote {
    color: #8cc540;
    font-style: italic;
}

::ng-deep  .redText {
    color: Red;
    font-size: 12px;
    font-family: Arial;
}

::ng-deep  h1 .titleText {
    color: #69a8cf;
    text-align: left;
    margin-top: 40px;
    font-weight: normal;
}

/*
::ng-deep #aneditor .angular-editor-toolbar .angular-editor-toolbar-set:nth-child(3),
::ng-deep #aneditor .angular-editor-toolbar-set:nth-child(9),
::ng-deep #aneditor .angular-editor-toolbar-set:nth-child(10)
{display: none!important;}
*/

::ng-deep .angular-editor-toolbar-set .angular-editor-button[title="Indent"],
::ng-deep .angular-editor-toolbar-set .angular-editor-button[title="Outdent"],
::ng-deep .angular-editor-toolbar-set .angular-editor-button[title="Text Color"],
::ng-deep .angular-editor-toolbar-set .angular-editor-button[title="Background Color"],
::ng-deep .angular-editor-toolbar-set .angular-editor-button[title="Strikethrough"],
::ng-deep .angular-editor-toolbar-set .angular-editor-button[title="Subscript"],
::ng-deep .angular-editor-toolbar-set .angular-editor-button[title="Superscript"],

::ng-deep .angular-editor-toolbar-set .angular-editor-button[title="Insert Link"],
::ng-deep .angular-editor-toolbar-set .angular-editor-button[title="Unlink"],
::ng-deep .angular-editor-toolbar-set .angular-editor-button[title="Insert Image"],
::ng-deep .angular-editor-toolbar-set .angular-editor-button[title="Insert Video"],
::ng-deep .angular-editor-toolbar-set .angular-editor-button[title="Horizontal Line"],

::ng-deep .angular-editor-toolbar-set .angular-editor-button[title="HTML Code"] {
   display: none;
}

::ng-deep .angular-editor {
    background: #fff!important;
    min-height: 300px!important;
    
    .angular-editor-textarea{
        height: calc(100vh - 210px);
    }
}