<div class="book"  >
    <div class="book_image"> 
        <img  [src]="cover" alt="cover" (load)="onImageLoad()" (error)="onImageError()">
    </div>
    <div class="book_data"> 
        <div class="book_title title-white" (click)="onSelectBookClicked()">
            <h1 class="margin-bottom-5 title-whit">{{book.title | truncate:15 }}</h1>
            <h4 class="margin-top-0">{{book.adate | date:'yyyy'}}, {{autor.name}}</h4>
            <h2 *ngIf="book.subtitle">{{book.subtitle}}</h2>
            
        </div>
        <div class="book_type padding-5">
            <span>{{book.typeId | booktypename}}</span>
        </div>
        <div class="book-footer"> 
            <mat-icon *ngIf="isAutor" class="margin-right-5" 
                (click)="onEditBookClicked()"
                matTooltip="Edit Book"
                matTooltipClass="tooltip-green-sm" >edit</mat-icon>
            <mat-icon class="margin-right-5"
                matTooltip="Read Book"
                matTooltipClass="tooltip-green-sm">pageview</mat-icon>
            <mat-icon class="margin-right-5" 
                (click)="onSelectBookClicked()"
                matTooltip="Open Book"
                matTooltipClass="tooltip-green-sm">open_in_browser</mat-icon>
            
        </div>
    </div>
    
</div>
 <!--
<mat-card class="card book-card">
   
    <mat-card-header class="card-header blue text-align-center">
        <mat-card-title>{{book.title}}</mat-card-title>
        <mat-card-subtitle *ngIf="book.subtitle">{{book.subtitle}}</mat-card-subtitle>
    </mat-card-header>
    
    <div class="pv-header" [style.background-image]="'url(' + mac.tableImgUrl + ')'">
        
    </div>
     
    <mat-card-content class="card-body card-padding text-align-justify o-hidden">
        <div class="book-widget"> 
            <img  [src]="logo" alt="logo" [ngClass]="imageClass" (load)="onImageLoad()" (error)="onImageError()">
          <h2>{{book.title}}</h2>
        </div>
  </mat-card-content>
</mat-card>

<div class="card simple-logo-card" (click)="onClick()">
    <div class="simple-logo-card-overlay"></div>
    <img *ngIf="logo" [src]="logo" alt="logo" [ngClass]="imageClass" (load)="onImageLoad()" (error)="onImageError()">
    <div *ngIf="!logo" class="simple-logo-card-default">{{name}}</div>
    <div class="simple-logo-card-name">{{name}} <hr/><small *ngIf="notes">{{notes}}</small></div>
</div>

<div class="pv-body">
                                <h2>Malinda Hollaway</h2>
                                <small>Praesent vitae justo purus. In hendrerit lorem nislac lacinia urnaunc vitae ante
                                    id magna
                                </small>

                                <ul class="pv-contact">
                                    <li><i class="zmdi zmdi-pin"></i> Jupitor</li>
                                    <li><i class="zmdi zmdi-phone"></i> +11 55694785</li>
                                </ul>

                                <ul class="pv-follow">
                                    <li>589 Followers</li>
                                    <li>8545 Followings</li>
                                </ul>

                                <a href="" class="pv-follow-btn">Follow</a>
                            </div>
-->