$sidenav-width: 240px !default;
$sidenav-collapsed-width: 50px !default;
$nav-toolbar-height:48px !default;

$gutter: 16px !default;


//////////
// GRAY //
//////////
$gray: #EDEDEF;
$gray-light: #E2E2E7;
$gray-dark: #AEAEB6;
$scroll-gray: #f4f4f4;
$page-backdrop: #f2f2f2;