@import '~@angular/material/theming';

@include mat-core();
//
// Light style
//
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);
$config: mat-typography-config();
@include angular-material-theme($theme);

@import 'functions/functions';
@import 'mixins/mixins';
//
@import 'core/core';
@import 'widgets/widgets';