/*
 * Variable and Mixin
 */
 @import './layout/_variables';

 @import './layout/mixings_animation';
 @import './layout/mixin';
 @import './layout/mixins';
 /*
  * Load Website related  files
  */
 @import './layout/_generics';
 @import './layout/base';
 @import './layout/list';
 @import './layout/herader';
 @import './layout/sidebar';
 @import './layout/dropdown';
 @import './layout/listview';
 @import './layout/progress-bar';
 @import './layout/chat';
 @import './layout/tabs';
 @import './layout/card';
 @import './layout/chart';
 @import './layout/widgets';
 @import './layout/table';
 @import './layout/todo';
 @import './layout/button';
 @import './layout/form';
 @import './layout/pagination';
 @import './layout/popover';
 @import './layout/wizard';
 @import './layout/alert';
 @import './layout/media';
 @import './layout/modal';
 @import './layout/panel';
 @import './layout/tooltip';
 @import './layout/breadcrumb';
 @import './layout/messages';
 @import './layout/404';
 @import './layout/login';
 @import './layout/profile';
 @import './layout/photos';
 @import './layout/contacts';
 @import './layout/miscs';
 @import './layout/io-warning';
 @import './layout/load';
 @import './layout/footer';
 @import './layout/pricing-table';
 @import './layout/invoice';
 @import './layout/wall';
 @import './layout/skin';
 @import './layout/preloader';
 @import './layout/dialog';
 
 @import './layout/print';
 
 @import 'core/core.scss';
 
 .mat-grid-tile .mat-figure{
     display: block!important;
     padding-left: 15px!important;
     padding-right: 15px!important;
 }
 
 @import './layout/airport';
 @import './layout/airline';
 @import './app';
 .material-icons{
     vertical-align: middle!important;
 }
 