
<div class="flex-align-items padding-10">
<img  [src]="imageUrl" alt="{{character.crtr_nikname}}" (load)="onImageLoad()" (error)="onImageError()" [ngClass]="imageClass">
<h2 mat-dialog-title> Edit Character
  <small>Update base information for character ID {{character.crtr_id}}.</small>
  <small *ngIf="book"> Book: {{book.title}} ({{book.id}}).</small>
  <small *ngIf="user"> Author: {{user.name}} .</small>
</h2>
</div>

<mat-dialog-content >
    
    <form class="lcb-form" [formGroup]="form">
      
      <mat-form-field floatLabel="always" class="lcb-full-width">
        <input matInput  placeholder="Name"  formControlName="crtr_name" required class="form-control">
        <mat-error *ngIf="crtr_name.invalid">{{errorName}}</mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="always" class="lcb-half-width padding-right-5">
        <input matInput  placeholder="Nikname"   formControlName="crtr_nikname" class="form-control">
        <mat-error *ngIf="crtr_nikname.invalid">{{errorMaxLenght}}</mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="always" class="lcb-half-width">
        <input matInput formControlName="crtr_order" maxlength="3" placeholder="Order" required class="form-control">
      </mat-form-field>

      <mat-form-field floatLabel="always" class="lcb-full-width">
        <input matInput  placeholder="Image URL"   formControlName="crtr_url" class="form-control">
        <mat-error *ngIf="crtr_url.invalid">{{errorMaxLenght}}</mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="always" class="lcb-full-width">
          <input matInput  placeholder="Image 2 URL"   formControlName="crtr_image_url" class="form-control">
          <mat-error *ngIf="crtr_image_url.invalid">{{errorMaxLenght}}</mat-error>
        </mat-form-field>

      <mat-form-field floatLabel="always" class="lcb-full-width">
          <textarea matInput  placeholder="Notes" formControlName="crtr_desc" class="form-control"></textarea>
          <mat-hint *ngIf="crtr_desc && crtr_desc.value" align="end">{{crtr_desc.value.length}} / 2000</mat-hint>
        </mat-form-field>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <mat-error *ngIf="errorMessage" class="margin-right-10"> 
        {{errorMessage}}
       </mat-error>
     <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
       class="dialog-spinner"
       color="primary"
       mode="indeterminate">
   </mat-progress-spinner>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button   *ngIf="!hasSpinner" mat-fab color="primary" aria-label="Character Edit"
    [disabled]="form.invalid" (click)="onSubmitClick()">
      <mat-icon >flight_land</mat-icon>
  </button>
</mat-dialog-actions>

