.chapter-card {
    background: linear-gradient(to top, #e5e6e6 50%, transparent 100%);
    background-image: url(/assets/images/common/paper_bkg_02.jpg);
    background-size: cover;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 300px;
    padding: 20px;
    margin: 0px 18px 18px 0px;

    .actions {
        position: absolute; 
        right: 2px;
        z-index: 2; 
        top: 0px;
    }

    > h3{
        font-style: italic;
        font-weight: 200;
    }

    .notes, .footer{
        margin-left: -5px;
        margin-right: -5px;
        text-align: justify;
        font-size: 11px;
    }
    .footer{
        position: absolute; 
        bottom: 0px;
        left: 0;
        width: 100%;
        padding: 0px;
        margin: 0px;
        background: #009AD9;
        opacity: 0;
        &:hover{
            transition: opacity 0.3s;
            opacity:100;
            color: rgba(0,0,0,0.7);
          }
        /*background: linear-gradient(to top, #000 50%, transparent 100%);*/
    }
}