<div class="block-header">
    <h2>Book List</h2>

    <div class="actions">
      <button mat-icon-button class="more-button" aria-label="Refresh" (click)="onRefreshListClick()">
        <mat-icon>refresh</mat-icon>
      </button>
      <button *ngIf="user" mat-icon-button aria-label="Book"
      (click)="onBookCreate()" > 
          <mat-icon>library_add</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menuBookList" aria-label="Menu Book List">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menuBookList="matMenu" xPosition="before" class="dropdown-menu">
        <button mat-menu-item (click)="onBookCreate()">
          <mat-icon>library_add</mat-icon>
          Create Book
        </button>
        <button mat-menu-item (click)="onRefreshListClick()">
          <mat-icon>refresh</mat-icon>
          Refresh Book List
        </button>
      </mat-menu>
    </div>
  </div>
  <div class="book-list"  >
      <app-book-list-card *ngFor="let book of books"
        class="padding-5"
        [book]="book" 
        [cover]="book.coverpageUrl"
        [autor]="user"
        (editBookClicked)="editBookDialogShow(book)"
        (selectBookClicked)="selectBookclicked(book)">
      </app-book-list-card>
  </div>
<!--
  <mat-grid-list cols="12" rowHeight="130px">
      <mat-grid-tile  *ngFor="let book of books"
      [colspan]="colspan4Card" [rowspan]="2">
    <app-book-list-card [book]="book"> </app-book-list-card>
    
    </mat-grid-tile>
     
    <mat-grid-tile  [colspan]="colspan3Card" [rowspan]="3">
      <mat-card class="card book">
          <img [src]="logoUrl" class="img-responsive" alt="Logo">
          <mat-card-header class="card-header blue text-align-center">
              <mat-card-title>{{ mfr.mfr_name }}</mat-card-title>
              <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          
          <mat-card-content class="card-body card-padding text-align-justify o-hidden ">
              {{ mfr.mfr_notes }}
        </mat-card-content>
      </mat-card>
  </mat-grid-tile>
 
  </mat-grid-list>
   -->