<div class="block-header">
    <h2 *ngIf="book">
        <mat-icon class="margin-right-5 blue">local_library</mat-icon>{{book.title}}
        <mat-icon class="margin-left-10 margin-right-5 blue">class</mat-icon>{{chapter.bch_title}}
    </h2>
    <h2 *ngIf="!book">Please, Select a book</h2>

    <div class="actions">
      <button *ngIf="isAutor" mat-icon-button aria-label="Save"
        (click)="onContentSave()" >
          <mat-icon [ngClass]="{'yellow': canSave, 'gray': !canSave}">save</mat-icon>
      </button>
      <button *ngIf="isAdmin" mat-icon-button aria-label="Aircrafts"
        (click)="gotoBookList()" >
          <mat-icon>view_week</mat-icon>
      </button>
      <button *ngIf="isAdmin" mat-icon-button aria-label="Aircrafts"
        (click)="gotoBook()" >
        <mat-icon>local_library</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menuAircrafts" aria-label="Menu Aircrafts">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menuAircrafts="matMenu" xPosition="before">
          <button mat-menu-item aria-label="Book List" (click)="gotoBookList()" ><mat-icon>view_week</mat-icon>Book List</button>
          <button mat-menu-item aria-label="Book" (click)="gotoBook()" ><mat-icon>local_library</mat-icon>Book</button>
      </mat-menu>
    </div>
  </div>