<mat-toolbar color="primary" id="header" class="clearfix">
  <div class="flex-sttart flex-align-items width-100">
    <!--  -->
    <button mat-icon-button class="flex-start" 
      (click)="leftToggle()" 
      *ngIf="((isHandset$ | async)|| (isTablet$ | async))" >
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-title">Book Writing Tool</h1>
  </div>
  <div class="flex-end flex-align-items">
    <!--  *ngIf="((isHandset$ | async)|| (isTablet$ | async))" -->
    <button mat-icon-button class="flex-end" (click)="registerDialogShow()" *ngIf="!isAuthenticated" matTooltip="Register"><mat-icon>person_add</mat-icon></button>
    <button mat-icon-button class="flex-end" (click)="rightToggle()" ><mat-icon>menu</mat-icon></button>
  </div>
    
  </mat-toolbar>

