<mat-card class="character-list-card">

    <mat-card-header class="card-header">

        <mat-card-title>Characters</mat-card-title>
        <mat-card-subtitle>Characters subtitle</mat-card-subtitle>

        <div class="actions">
            <button *ngIf="isAutor" mat-icon-button 
                aria-label="Create Character"
                (click)="editCharacterDialogShow(undefined)" >
                <mat-icon [ngClass]="{'blue': (!characters || characters.length === 0)}">person_add</mat-icon>
            </button>
            <button *ngIf="isAutor" mat-icon-button 
                aria-label="Create Character"
                (click)="editCharacterDialogShow(undefined)" >
                <mat-icon>link</mat-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menuAircrafts" aria-label="Menu Aircrafts">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu class="dropdown" #menuAircrafts="matMenu" xPosition="before">
                <button mat-icon-button aria-label="Refresh" (click)="onRefreshListClicked()"><mat-icon>refresh</mat-icon> Reload Characters</button>
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
            </mat-menu>
        </div>
    </mat-card-header>

    <mat-card-content class="character-list-card-body">
            <div *ngIf="characters && characters.length > 0" class="listview">
                <a class="lv-item" *ngFor="let crtr of characters">
                    <app-crtr-list-small-card
                        [character]="crtr"
                        [cover]="crtr.crtr_image_url"
                        (editClicked)="editCharacterDialogShow($event)">
                       
                    </app-crtr-list-small-card>
                </a>
                <div class="clearfix"></div>

                <a class="lv-footer" *ngIf="characters" href="">{{characters.length | number:'1.0-0'}} Characters</a>
            </div>

            <div  *ngIf="!characters || characters.length===0" class="padding-10">
                Use action button to add your first character in book.
                <h4>Create an unforgettable main character.</h4>
                <p><a href="https://jerryjenkins.com/how-to-write-a-novel/" _target="blank">Before</a> you start page one, you’ll want to understand your characters.</p>
                <p>Your most important character will be your protagonist, also known as your lead or your hero/heroine.
                        This main character must have a character arc, in other words be a different, better person by the end.
                        That means he (and I’m using this pronoun inclusively to mean hero or heroine) must have potentially heroic qualities that emerge in the climax.
                </p> <p> Your lead can have human flaws, but those should be redeemable.
                        You’ll also have an antagonist, the villain who should be every bit as formidable and compelling as your hero. Make sure the bad guy isn’t bad just because he’s the bad guy.
                    </p> <p>You must have reasons for why he does what he does to make him a worthy foe, realistic and memorable.
                        You’ll also need important orbital cast members.
                         For each character, ask:
                            What do they want?
                            What or who is keeping them from getting it?
                            What will they do about it?
                            What is their role in the main story?
                        
                    </p> <p>
                        Use distinct names (even distinct initials) for every character—and make them look and sound different from each other too, so your reader won’t confuse them.
                        
                        Limit how many you introduce early. If your reader needs a program to keep up, you may not have him for long.
                        
                        To be memorable, your characters must also be believable. Inject them with humanity.
                        
                        If your characters don’t feel authentic, they may be missing traits real people possess.
                        
                        Naturally your lead character will face an outward problem, but it’s inner turmoil that will makes him come alive on the page.
                        
                        Heroic, inventive, morally upright, and physically strong? Of course. But your protagonist must also face fear, insecurity, inner weakness.
                        
                        Give your readers someone they can identify with, characters who will develop.
                        
                        Imagine each character’s range of strengths, weaknesses, and insecurities before you start writing, and you’ll find your job a lot easier.
                    </p>
            </div>
           
    </mat-card-content>
    <!--
    <mat-card-footer class="text-align-center">

        <button mat-button color="primary" >CREATE</button>
    </mat-card-footer>
    -->
</mat-card>
