<app-page-book-header></app-page-book-header>
<app-book-card
  [book]="book" [autor]="autor" [cover]="book.coverpageUrl">
</app-book-card>
 <!-- GRID Main 2 columns 1 row-->
 <mat-grid-list cols="12" class="chapter-list">
   
    <!-- Left -->
    <mat-grid-tile [colspan]="colspanGridMainBoard" [rowspan]="1" >
      <app-chapter-list-card [book]="book" [autor]="autor"></app-chapter-list-card>
    </mat-grid-tile>
    
    <!--  Right  -->
    <mat-grid-tile [colspan]="colspanGridMainRSide" [rowspan]="1" class="light-blue-background">
      <app-ctrt-list-small [book]="book" [autor]="autor"> </app-ctrt-list-small>
    </mat-grid-tile>

 </mat-grid-list>