<div class="bwt-container-wrap">
  <app-bwt-nav-toolbar (sideLeftToggle)="sideLeftToggle()"></app-bwt-nav-toolbar>

<mat-sidenav-container class="bwt-container" autosize autoFocus>
  <mat-sidenav #sideLeft  class="bwt-sidenav-left"
      fixedInViewport="true" fixedTopGap="48"
      [attr.role]="((isHandset$ | async)|| (isTablet$ | async)) ? 'dialog' : 'navigation'"
      [mode]="((isHandset$ | async)|| (isTablet$ | async)) ? 'over' : 'side'"
      [opened]="!((isHandset$ | async)|| (isTablet$ | async)) ">
    
      <div class="sidebar-inner">
          <app-bwt-nav-side-profile-info ></app-bwt-nav-side-profile-info>
          <mat-nav-list class="main-menu">
            
            <app-bwt-nav-side-left-profile (click)="onProfileClick()"></app-bwt-nav-side-left-profile>
            <app-bwt-nav-list-item-left></app-bwt-nav-list-item-left>
            <!--
            <a mat-list-item href="#">Link 3</a>
            -->
          </mat-nav-list>
      </div>
      
  </mat-sidenav>
  <mat-sidenav-content class="bwt-content-wrap">
        <ng-progress #progressBar></ng-progress>
      <div class="bwt-content">
             <!-- Http Progress Indicator -->
            
              <router-outlet></router-outlet>
              
      </div>
      
      <!--
      <div *ngIf="!isAuthenticated" class="container">
          <h1> Welcome to {{ title }}! </h1>
          <h2>from I. Z. Iordanov</h2>
          <img width="300" alt="Logo" src="/assets/images/pen_128.png">
      </div>
      
      <footer id="footer">
            <hr>
            
            Copyright © 2015 Material Admin

          
        </footer>
    -->
  </mat-sidenav-content>
</mat-sidenav-container>

</div>




