<div class="modal-dialog chapter-read">
    <div class="modal-header size-16 flex-align-items flex-space-between">
        <div class="flex-start">{{chapter.bch_title| truncate:15}} - {{chapter.bch_subtitle | truncate:15}}</div>
        <div class="flex-center width-60">{{book.title}}</div>
        <div class="flex-end">{{chapter.adate | date:'MMM dd yyyy HH:mm'}}</div>
    </div>
    <div class="modal-close">
        <button type="button" class="close" (click)="close()">&times;</button>
    </div>
    
    <mat-dialog-content>
        <!-- | truncate:400 -->
        <div class="pages" *ngIf="pages">

            <div class="page cover">
                <h4>{{chapter.bch_title}}</h4>
                <h6>{{chapter.adate | date:'dd.MMM.yyyy HH:mm'}}</h6>
                <h5  matTooltip="{{chapter.bch_subtitle}}"
                matTooltipClass="tooltip-green-sm">{{chapter.bch_subtitle | truncate:12}}</h5>
                <img  [src]="imageUrl" alt="cover" (load)="onImageLoad()" (error)="onImageError()">
                
                <div class="footer">
                    <hr class="margin-top-5 margin-bottom-2 blue-hr">
                    <div class="flex-space-between padding-left-5 padding-right-5">
                        <div class=" white">Updated</div>
                        <div class="flex-box flex-align-items">
                            <div class="margin-right-10 flex-align-items">
                                <i class="material-icons blue size-18 margin-right-5">access_time</i>
                                <span class="white size-14">{{chapter.udate | date:'HH:mm'}}</span>
                            </div>
                            <div class="flex-align-items">
                                <i class="material-icons blue size-18 margin-right-5 ">event_note</i>
                                <span class="white size-14">{{chapter.udate | date:'dd-MM-yy'}}</span>
                            </div>
                        </div>
                    </div>
                    <hr class="margin-top-2 margin-bottom-2 blue-hr">
                    <div class="flex-space-between padding-left-5 padding-right-5">
                        <div class=" white">Statistics</div>
                        <div class="flex-box flex-align-items">
                            <div class="margin-right-10 flex-align-items">
                                <i class="material-icons blue size-18 margin-right-5" 
                                matTooltip="Characters Count"
                                matTooltipClass="tooltip-green-sm">brightness_auto</i>
                                <span class="white size-14">{{stat.charsCount | number:'1.0-0'}}</span>
                            </div>
                            <div class="margin-right-10 flex-align-items">
                                <i class="material-icons blue size-18 margin-right-5"
                                matTooltip="Words Count"
                                matTooltipClass="tooltip-green-sm">label</i>
                                <span class="white size-14">{{stat.wordCount | number:'1.0-0'}}</span>
                            </div>
                            <div class="flex-align-items">
                                    <i class="material-icons blue size-18 margin-right-5"
                                    matTooltip="Pages Count"
                                    matTooltipClass="tooltip-green-sm">description</i>
                                    <span class="white size-14">{{pages.length | number:'1.0-0'}}</span>
                                </div>
                        </div>
                    </div>
                    <hr class="margin-top-2 margin-bottom-5 blue-hr">
                    <div class="flex-space-between padding-left-5 padding-right-5">
                        <div class=" white">Word Counts</div>
                        <div class="flex-box flex-align-items">
                            <div class="margin-right-10 flex-align-items">
                                <i class="material-icons white size-18 margin-right-5" 
                                matTooltip="Long Word Count (word length > 3)"
                                matTooltipClass="tooltip-green-sm">notes</i>
                                <span class="white size-14">{{stat.longWordCount | number:'1.0-0'}}</span>
                            </div>
                            <div class="margin-right-10 flex-align-items">
                                <i class="material-icons white size-18 margin-right-5"
                                matTooltip="Short Word Count"
                                matTooltipClass="tooltip-green-sm">short_text</i>
                                <span class="white size-14">{{stat.shortWordCount | number:'1.0-0'}}</span>
                            </div>
                            <div class="flex-align-items">
                                    <i class="material-icons white size-18 margin-right-5"
                                    matTooltip="Single Letter Word Count"
                                    matTooltipClass="tooltip-green-sm">space_bar</i>
                                    <span class="white size-14">{{stat.singleLetterWordCount | number:'1.0-0'}}</span>
                                </div>
                        </div>
                    </div>
                    <hr class="margin-top-2 margin-bottom-5 blue-hr">
                </div>
            
            </div>

            <div *ngFor="let page of pages" class="page">
            <div class="page-content" [innerHTML]="page.content"></div>
            <div class="page-footer">-{{page.pageNr | number:'1.0-0'}}-</div>
            </div>
        </div>
        
       <!--
        <div class="img-blur-back">     
            <img  [src]="imageUrl" alt="cover" (load)="onImageLoad()" (error)="onImageError()">
        </div>
        -->
    </mat-dialog-content>
    
</div>