.mat-dialog-container {
    //padding: 10px !important;
   
.img-blur-back{
  position: absolute;
  top: -22px;
  right: -33px;
  z-index: 1;
  /*
  height: 100%; 
  width: 80%;
  */
  background-size: cover;
  border-radius: 11px;
  & > img {
    width: 100%;
    height: inherit;
    border-radius: 5px;
    opacity: 0.2;
    object-fit: cover;
    mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0));
  }
}





}/*mat-dialog-container*/

.chapter-read{

  @media screen and (min-width: 992px) {
    padding: 10px 10px;
    width:960px;
  }
  
  @media screen and (max-width: 768px) {
    padding: 10px 10px;
    width:400px;
  }
  .modal-close{
    position: absolute;
    top: -30px;
    right: 0px;
    z-index: 1;
    button.close {
      font-size: 24px;
      font-weight: 800;
    }
  }

  .modal {
 
   &-header {
      position: absolute;
      top: -30px;
      right: 25px;
      /*
      display: flex;
      align-items: center;
      justify-content: space-between;
      */
      border-radius: 0px; 
      overflow-x: hidden; //firefox - Windows
      width: 95%;
      padding: 0px 26px;
    }
  }

  .mat-dialog-content{
    overflow: inherit;
    .pages{
      display: flex;
      flex-flow: wrap;
      justify-content: space-between;

      .page{
        width: 50%;
        margin: 5px 0px;
        padding: 20px 20px;
        display: block;
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
        background: linear-gradient(to top, #e5e6e6 50%, transparent 100%);
        background-image: url(/assets/images/common/paper_bkg_02.jpg);
        background-size: cover;
        position: relative;
        &-content{
          text-align: justify;
        }
        &-footer{
          text-align: center;
          position: absolute;
          bottom: 0;
          width: 100%;
        }
      }
      .cover{
        text-align: center;
        & > img {
          width: 100%;
        }
        & .footer{
          position: absolute; 
          bottom: 0px;
          left: 0;
          width: 100%;
          padding: 0px;
          margin: 0px;
          background: #009AD9;
          opacity:100;
          /*
          &:hover{
              transition: opacity 0.3s;
              opacity:100;
              color: rgba(0,0,0,0.7);
            }
            */
        }
      }
    }
  }

  .img-blur-back{
    position: absolute;
    top: 0px;
    right: 20px;
    z-index: 1;
    /*
    height: 100%; 
    width: 80%;
    */
    background-size: cover;
    border-radius: 11px;
    & > img {
      width: 100%;
      height: inherit;
      border-radius: 5px;
      opacity: 0.2;
      object-fit: cover;
      background-size: cover;
      mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0));
    }
  }
}