


<h2 mat-dialog-title> Edit Book
  <small>Update base information for book ID {{book.id}}.</small>
  <small *ngIf="user"> Author: {{user.name}} .</small>
</h2>

<mat-dialog-content >
    
    <form class="lcb-form" [formGroup]="form">
      
      <mat-form-field floatLabel="always" class="lcb-full-width">
        <input matInput  placeholder="Title"  formControlName="bookTitle" required class="form-control">
        <mat-error *ngIf="bookTitle.invalid">{{errorTitle}}</mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="always" class="lcb-full-width">
        <input matInput  placeholder="Subtitle"   formControlName="bookSubTitle" class="form-control">
        <mat-error *ngIf="bookSubTitle.invalid">{{errorMaxLenght}}</mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="always" class="lcb-full-width">
          <input matInput  placeholder="Cover Image URL"   formControlName="bookCover" class="form-control">
          <mat-error *ngIf="bookCover.invalid">{{errorMaxLenght}}</mat-error>
        </mat-form-field>

      <mat-form-field floatLabel="always" class="lcb-full-width">
          <textarea matInput  placeholder="Notes" formControlName="description" class="form-control"></textarea>
        </mat-form-field>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <mat-error *ngIf="errorMessage" class="margin-right-10"> 
        {{errorMessage}}
       </mat-error>
     <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
       class="dialog-spinner"
       color="primary"
       mode="indeterminate">
   </mat-progress-spinner>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button   *ngIf="!hasSpinner" mat-fab color="primary" aria-label="Book Edit"
    [disabled]="form.invalid" (click)="onSubmitClick()">
      <mat-icon >flight_land</mat-icon>
  </button>
</mat-dialog-actions>
