
<div class="flex-align-items padding-10">
        <img  [src]="imageUrl" alt="{{chapter.bch_title}}" (load)="onImageLoad()" (error)="onImageError()" [ngClass]="imageClass">
        <h2 mat-dialog-title> Edit Chapter
          <small>Update base information for chapter ID {{chapter.bch_id}}.</small>
          <small *ngIf="book"> Book: {{book.title}} ({{book.id}}).</small>
          <small *ngIf="user"> Author: {{user.name}} .</small>
        </h2>
        </div>
        
        <mat-dialog-content >
            
            <form class="lcb-form" [formGroup]="form">
              
              <mat-form-field floatLabel="always" class="lcb-half-width padding-right-5">
                <input matInput  placeholder="Title"  formControlName="bch_title" required class="form-control">
                <mat-error *ngIf="bch_title.invalid">{{errorName}}</mat-error>
              </mat-form-field>

              <mat-form-field floatLabel="always" class="lcb-half-width">
                <input matInput formControlName="bch_order" maxlength="3" placeholder="Order" required class="form-control">
              </mat-form-field>
        
              <mat-form-field floatLabel="always" class="lcb-full-width">
                <input matInput  placeholder="Sibtitle"   formControlName="bch_subtitle" class="form-control">
                <mat-error *ngIf="bch_subtitle.invalid">{{errorMaxLenght}}</mat-error>
              </mat-form-field>
        
              <mat-form-field floatLabel="always" class="lcb-full-width">
                  <textarea matInput  placeholder="Notes" formControlName="bch_notes" class="form-control"></textarea>
                  <mat-hint *ngIf="bch_notes && bch_notes.value" align="end">{{bch_notes.value.length}} / 2000</mat-hint>
                </mat-form-field>
            </form>
        
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <mat-error *ngIf="errorMessage" class="margin-right-10"> 
                {{errorMessage}}
               </mat-error>
             <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
               class="dialog-spinner"
               color="primary"
               mode="indeterminate">
           </mat-progress-spinner>
          <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
          <button   *ngIf="!hasSpinner" mat-fab color="primary" aria-label="Chapter Edit"
            [disabled]="form.invalid" (click)="onSubmitClick()">
              <mat-icon >flight_land</mat-icon>
          </button>
        </mat-dialog-actions>
        
        