<div class="block-header">
    <h2>Profile</h2>
    <small></small>
    <div class="actions">
        <!--
        <button mat-icon-button class="more-button" aria-label="Refresh" (click)="onRefreshListClick()">
            <mat-icon>refresh</mat-icon>
        </button>
        <button *ngIf="user" mat-icon-button aria-label="Book" (click)="onBookCreate()">
            <mat-icon>library_add</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menuBookList" aria-label="Menu Book List">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menuBookList="matMenu" xPosition="before" class="dropdown-menu">
            <button mat-menu-item (click)="onBookCreate()">
                <mat-icon>library_add</mat-icon>
                Create Book
            </button>
            <button mat-menu-item (click)="onRefreshListClick()">
                <mat-icon>refresh</mat-icon>
                Refresh Book List
            </button>
        </mat-menu>
        -->
    </div>
</div>

<div class="card" id="profile-main">

    <div class="pm-overview c-overflow">
        <div class="pmo-pic">
            <div class="p-relative">
                <a href="">
                    <img class="img-responsive" src="{{avatarImageUrl}}" alt="">
                </a>
                <!--
                <a href="" class="pmop-edit">
                    <i class="zmdi zmdi-camera"></i> <span class="hidden-xs">Update Profile Picture</span>
                </a>
                -->
            </div>

            <div class="pmo-stat">
                <h2 class="m-0 c-white">{{bookList.length | number:'1.0-0'}}</h2>
                Books
            </div>
        </div>
        <!--
        <div class="pmo-block pmo-contact hidden-xs">
            <h2>Contact</h2>

            <ul>
                <li><i class="zmdi zmdi-phone"></i> 00971 12345678 9</li>
                <li><i class="zmdi zmdi-email"></i> malinda-h@gmail.com</li>
                <li><i class="zmdi zmdi-facebook-box"></i> malinda.hollaway</li>
                <li><i class="zmdi zmdi-twitter"></i> @malinda (twitter.com/malinda)</li>
                <li>
                    <i class="zmdi zmdi-pin"></i>
                    <address class="m-b-0 ng-binding">
                        44-46 Morningside Road,<br>
                        Edinburgh,<br>
                        Scotland
                    </address>
                </li>
            </ul>
        </div>


        <div class="pmo-block pmo-items hidden-xs">
            <h2>Connections</h2>

            <div class="pmob-body">
                <div class="row">
                    <a href="" class="col-xs-2">
                        <img class="img-circle mCS_img_loaded" src="img/profile-pics/1.jpg" alt="">
                    </a>
                    <a href="" class="col-xs-2">
                        <img class="img-circle mCS_img_loaded" src="img/profile-pics/2.jpg" alt="">
                    </a>
                    <a href="" class="col-xs-2">
                        <img class="img-circle mCS_img_loaded" src="img/profile-pics/3.jpg" alt="">
                    </a>
                    <a href="" class="col-xs-2">
                        <img class="img-circle mCS_img_loaded" src="img/profile-pics/4.jpg" alt="">
                    </a>
                    <a href="" class="col-xs-2">
                        <img class="img-circle mCS_img_loaded" src="img/profile-pics/5.jpg" alt="">
                    </a>
                    <a href="" class="col-xs-2">
                        <img class="img-circle mCS_img_loaded" src="img/profile-pics/6.jpg" alt="">
                    </a>
                    <a href="" class="col-xs-2">
                        <img class="img-circle mCS_img_loaded" src="img/profile-pics/7.jpg" alt="">
                    </a>
                    <a href="" class="col-xs-2">
                        <img class="img-circle mCS_img_loaded" src="img/profile-pics/8.jpg" alt="">
                    </a>
                    <a href="" class="col-xs-2">
                        <img class="img-circle mCS_img_loaded" src="img/profile-pics/1.jpg" alt="">
                    </a>
                    <a href="" class="col-xs-2">
                        <img class="img-circle mCS_img_loaded" src="img/profile-pics/2.jpg" alt="">
                    </a>
                    <a href="" class="col-xs-2">
                        <img class="img-circle mCS_img_loaded" src="img/profile-pics/3.jpg" alt="">
                    </a>
                    <a href="" class="col-xs-2">
                        <img class="img-circle mCS_img_loaded" src="img/profile-pics/4.jpg" alt="">
                    </a>
                </div>
            </div>
            
        </div>
            -->
    </div>


    <div class="pm-body clearfix">

        <mat-tab-group>
            <mat-tab label="About">
                <div class="pmb-block">
                    <div class="pmbb-header">
                        <h2>
                            <mat-icon class="margin-right-10">equalizer</mat-icon>Summary
                        </h2>

                        <ul class="actions">
                        </ul>
                    </div>
                    <div class="pmbb-body padding-left-30">
                        <div class="pmbb-view">
                            Sed eu est vulputate, fringilla ligula ac, maximus arcu. Donec sed felis vel
                            magna mattis ornare ut non turpis. Sed id arcu elit. Sed nec sagittis tortor.
                            Mauris ante urna, ornare sit amet mollis eu, aliquet ac ligula. Nullam dolor
                            metus, suscipit ac imperdiet nec, consectetur sed ex. Sed cursus porttitor leo.
                        </div>
                    </div>
                </div>

                <div class="pmb-block">
                        <div class="pmbb-header">
                            <h2><mat-icon class="margin-right-10">person</mat-icon> Basic Information</h2>
            
                            <ul class="actions">
                            </ul>
                        </div>
                        <div class="pmbb-body padding-left-30">

                            <div class="pmbb-view">
                                <dl class="flex-align-items">
                                    <dt>Full Name</dt>
                                    <dd *ngIf="user">{{user.name}}</dd>
                                </dl>
                                <dl class="flex-align-items">
                                    <dt>Role</dt>
                                    <dd *ngIf="user">{{ user.role | userrole }}</dd>
                                </dl>
                                <dl class="flex-align-items">
                                    <dt>Receive E-Mails</dt>
                                    <dd *ngIf="user">{{user.isReceiveEMails}}</dd>
                                </dl>
                                <dl class="flex-align-items">
                                    <dt>Last Loggin</dt>
                                    <dd *ngIf="user">{{user.lastLogged.date | date :'MMM dd yyyy HH:mm A'}}</dd>
                                </dl>
                            </div>
                        </div>
                </div>

            </mat-tab>
            <!--
            <mat-tab label="Second"> Content 2 </mat-tab>
            <mat-tab label="Third"> Content 3 </mat-tab>
            -->
        </mat-tab-group>
        <!--
        <ul class="tab-nav tn-justified">
            <li class="active"><a href="profile-about.html">About</a></li>
            <li><a href="profile-timeline.html">Timeline</a></li>
            <li><a href="profile-photos.html">Photos</a></li>
            <li><a href="profile-connections.html">Connections</a></li>
        </ul>


        <div class="pmb-block">
            <div class="pmbb-header">
                <h2><i class="zmdi zmdi-equalizer m-r-10"></i> Summary</h2>

                <ul class="actions">
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown">
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a data-ma-action="profile-edit" href="">Edit</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="pmbb-body p-l-30">
                <div class="pmbb-view">
                    Sed eu est vulputate, fringilla ligula ac, maximus arcu. Donec sed felis vel
                    magna mattis ornare ut non turpis. Sed id arcu elit. Sed nec sagittis tortor.
                    Mauris ante urna, ornare sit amet mollis eu, aliquet ac ligula. Nullam dolor
                    metus, suscipit ac imperdiet nec, consectetur sed ex. Sed cursus porttitor leo.
                </div>

                <div class="pmbb-edit">
                    <div class="fg-line">
                        <textarea class="form-control" rows="5"
                            placeholder="Summary...">Sed eu est vulputate, fringilla ligula ac, maximus arcu. Donec sed felis vel magna mattis ornare ut non turpis. Sed id arcu elit. Sed nec sagittis tortor. Mauris ante urna, ornare sit amet mollis eu, aliquet ac ligula. Nullam dolor metus, suscipit ac imperdiet nec, consectetur sed ex. Sed cursus porttitor leo.</textarea>
                    </div>
                    <div class="m-t-10">
                        <button class="btn btn-primary btn-sm waves-effect">Save</button>
                        <button data-ma-action="profile-edit-cancel"
                            class="btn btn-link btn-sm waves-effect">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="pmb-block">
            <div class="pmbb-header">
                <h2><i class="zmdi zmdi-account m-r-10"></i> Basic Information</h2>

                <ul class="actions">
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown">
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a data-ma-action="profile-edit" href="">Edit</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="pmbb-body p-l-30">
                <div class="pmbb-view">
                    <dl class="dl-horizontal">
                        <dt>Full Name</dt>
                        <dd>Mallinda Hollaway</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Gender</dt>
                        <dd>Female</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Birthday</dt>
                        <dd>June 23, 1990</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Martial Status</dt>
                        <dd>Single</dd>
                    </dl>
                </div>

                <div class="pmbb-edit">
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Full Name</dt>
                        <dd>
                            <div class="fg-line">
                                <input type="text" class="form-control" placeholder="eg. Mallinda Hollaway">
                            </div>

                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Gender</dt>
                        <dd>
                            <div class="fg-line">
                                <select class="form-control">
                                    <option>Male</option>
                                    <option>Female</option>
                                    <option>Other</option>
                                </select>
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Birthday</dt>
                        <dd>
                            <div class="dtp-container dropdown fg-line">
                                <input type="text" class="form-control date-picker" data-toggle="dropdown"
                                    placeholder="Click here...">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Martial Status</dt>
                        <dd>
                            <div class="fg-line">
                                <select class="form-control">
                                    <option>Single</option>
                                    <option>Married</option>
                                    <option>Other</option>
                                </select>
                            </div>
                        </dd>
                    </dl>

                    <div class="m-t-30">
                        <button class="btn btn-primary btn-sm waves-effect">Save</button>
                        <button data-ma-action="profile-edit-cancel"
                            class="btn btn-link btn-sm waves-effect">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="pmb-block">
            <div class="pmbb-header">
                <h2><i class="zmdi zmdi-phone m-r-10"></i> Contact Information</h2>

                <ul class="actions">
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown">
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a data-ma-action="profile-edit" href="">Edit</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="pmbb-body p-l-30">
                <div class="pmbb-view">
                    <dl class="dl-horizontal">
                        <dt>Mobile Phone</dt>
                        <dd>00971 12345678 9</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Email Address</dt>
                        <dd>malinda.h@gmail.com</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Twitter</dt>
                        <dd>@malinda</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Skype</dt>
                        <dd>malinda.hollaway</dd>
                    </dl>
                </div>

                <div class="pmbb-edit">
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Mobile Phone</dt>
                        <dd>
                            <div class="fg-line">
                                <input type="text" class="form-control" placeholder="eg. 00971 12345678 9">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Email Address</dt>
                        <dd>
                            <div class="fg-line">
                                <input type="email" class="form-control" placeholder="eg. malinda.h@gmail.com">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Twitter</dt>
                        <dd>
                            <div class="fg-line">
                                <input type="text" class="form-control" placeholder="eg. @malinda">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Skype</dt>
                        <dd>
                            <div class="fg-line">
                                <input type="text" class="form-control" placeholder="eg. malinda.hollaway">
                            </div>
                        </dd>
                    </dl>

                    <div class="m-t-30">
                        <button class="btn btn-primary btn-sm waves-effect">Save</button>
                        <button data-ma-action="profile-edit-cancel"
                            class="btn btn-link btn-sm waves-effect">Cancel</button>
                    </div>
                </div>
            </div>
            -->
    </div>
</div>