<app-book-list 
    [books]="bookList"
    (refreshListClick)="reloadBookList()">
</app-book-list>
<!--
<div class="grid-container">
    <div class="block-header">
        <h2>Dashboard</h2>
    </div>

  <mat-grid-list cols="2" rowHeight="380px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows" >
      <mat-card class="movie_card">
        
        <mat-card-header>
            <mat-card-title>{{card.title}}</mat-card-title>
            <mat-card-subtitle>Vestibulum purus quam scelerisque, mollis nonummy metus</mat-card-subtitle>
            <img mat-card-avatar src="./../../assets/images/pen_32.png"  alt="Airport">
           
            <mat-card-title> {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
          
          <mat-card-actions>
              <button mat-icon-button class="more-button" aria-label="Refresh">
                  <mat-icon>refresh</mat-icon>
                </button>
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
          </mat-card-actions>
        </mat-card-header>
       
        <mat-card-content class="info_section">
          
            <div class="movie_header">
              <img class="coverpage" src="https://movieplayer.net-cdn.it/t/images/2017/12/20/bright_jpg_191x283_crop_q85.jpg"/>
              <h1>Bright</h1>
              <h4>2017, David Ayer</h4>
              <span class="minutes">117 min</span>
              <p class="type">Action, Crime, Fantasy</p>
            </div>
            <div class="movie_desc">
              <p class="text">
                Set in a world where fantasy creatures live side by side with humans. A human cop is forced to work with an Orc to find a weapon everyone is prepared to kill for. 
              </p>
            </div>
            <div class="movie_social">
              <ul>
                <li><i class="material-icons">share</i></li>
                <li><i class="material-icons"></i></li>
                <li><i class="material-icons">chat_bubble</i></li>
              </ul>
            </div>
         
          
            
          
            
        </mat-card-content>
        <div class="blur_back bright_back"></div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
 -->