/*--------------------- 
      Background color
    ----------------------*/
    
    .bgm-darkblue {
        background-color: #002D5B !important;
      }
      
      .bgm-lightblue {
        background-color: #197CB6 !important;
      }
      .bgm-whiteblue {
        background-color: #e9f5fc !important;
      }
      .bgm-lblue {
        background-color: rgba(25, 124, 182, 0.6) !important;
      }
      .bgm-red {
        background-color: #C81922 !important;
      }
      
      .bgm-bluegray {
        background-color: #607D8B!important;
      }
      
      .bgm-yellow {
        background-color: #FFEB3B!important;
      }
      
      .bgm-green {
        background-color: #4CAF50!important;
      }

      
/////////////////////////////
// BACKGROUND MAIN COLORS. //
/////////////////////////////
 
.orange-background{
    background:$col_orange;
}
.blue-background{
    background:$blue-main;
}
.yellow-background{
    background:$col_yellow!important;
}
.light-blue-background{
    background:$light-blue;
}
.green-background{
    background: $green-success;
}
.orange-background{
    background:$col_orange;
}
.gray-background{
    background:$page-backdrop!important;
}
.dark-gray-background{
    background:$col_gray_1!important;
}
.white-background{
    background:#ffffff!important;    
}


///////////////////////
// TEXT MAIN COLORS. //
///////////////////////
.orange{
    color:$col_orange!important;
}
.blue{
    color:$blue-main!important;
}
.blue-light{
    color:$light-blue!important;
}
.yellow{
    color:$col_yellow!important;
}
.white{
    color:white!important;
}
.red{
    color: $col_red;
}
.gray{
    color:$col_gray_4;
}
.gray-dark{
    color:$col_gray_8;
}
.green{
   color:$col_green;
}
.pink {
    color:$pink;
}

       /*--------------------- 
          Tooltip 
        ----------------------*/
      .tooltip-red {
        background: #b71c1c;
        font-size: 18px!important;
      }
        
      .tooltip-yellow {
        background-color: rgba(255, 235, 59, 0.8)!important;
        color: #002D5B!important;
        font-size: 18px!important;
      }
      .tooltip-darkblue {
        background-color: rgba(0, 45, 91, 0.8) !important;
        font-size: 18px!important;
      }
      .tooltip-green {
        background-color: rgba(76, 175, 80, 0.8)!important;
        font-size: 18px!important;
      }
      
      .tooltip-green-sm {
        background-color: rgba(76, 175, 80, 0.8)!important;
        font-size: 14px!important;
      }