

.mat-dialog-title {
    margin-bottom:10px;
  }
  
  .mat-form-field{
    margin-right: 15px;
  }
  
  .lcb-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .lcb-full-width {
    width: 100%;
  }

  .lcb-half-width {
    width: 46%;
  }
  
  .mat-error {
    display: block;
    padding-right: 15px;
  }

/*


.mat-dialog-container {

  .modal {
    &-dialog{
      position: relative;
      width:99%;
      height:100%;
    }
    &-content{
      border-radius: 0px; 
      overflow-x: hidden; //firefox - Windows
   }
   &-header {
        @include placement(absolute, -10px, 10px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 0px; 
        overflow-x: hidden; //firefox - Windows
        width: 95%;
        padding: 0px 26px;
    }
    &-close{
      @include placement(absolute, -22px, -24px);
    
      & > .close{
        font-weight: 400;
    }
  }
}
}

.mat-dialog-container {

& > app-read-chapter-dialog {

  display: block;
  background: #fff;
  width:960px;

 
  @media screen and (min-width: $screen-md) {
    padding: 10px 10px;
    width:960px;
  }
  
  @media screen and (max-width: $screen-sm) {
    padding: 10px 10px;
    width:400px;
  }
  
} 
}


*/