
///////////////////////
// QUICK FLEX FORMAT //
///////////////////////
.flex{
    display: flex;
    &-col{
        display: flex;
        flex-direction: column;
    }
    &-center{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    &-middle{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-wrap{
        @extend .flex;
        flex-wrap: wrap;
    }
    &-end{
        display: flex;
        justify-content: flex-end;
    }
    &-start{
        display: flex;
        justify-content: flex-start;
    }
    &-align-items{
        display: flex;
        align-items: center;
    }
    &-space-between{
        @extend .flex;
        justify-content: space-between;
    }
}

.center-center{
    @extend .flex-align-items;
    @extend .flex-center;
}


////////////////////////////
// QUICK MARGIN - PADDING //
////////////////////////////
.margin{
    &-top{
        &-140{margin-top:140px;}        
        &-120{margin-top:120px;}
        &-100{margin-top:100px;}
        &-40{margin-top:40px!important;}
        &-30{margin-top:30px!important;}
        &-20{margin-top:20px!important;}
        &-15{margin-top:15px!important;}
        &-10{margin-top:10px!important;}
        &-7{margin-top:7px!important;}        
        &-5{margin-top:5px!important;}
        &-3{margin-top:3px!important;}
        &-2{margin-top:2px!important;}
        &-0{margin-top:0px!important;}
    }//top
    &-bottom{
        &-40{margin-bottom:40px!important;}
        &-30{margin-bottom:30px!important;}
        &-20{margin-bottom:20px!important;}
        &-15{margin-bottom:15px!important;}
        &-10{margin-bottom:10px!important;}
        &-5{margin-bottom:5px!important;}
        &-2{margin-bottom:2px!important;}
        &-0{margin-bottom:0px!important;}
    }//bottom
    &-right{
        &-50{margin-right:50px!important;}
        &-40{margin-right:40px!important;}
        &-30{margin-right:30px!important;}
        &-20{ margin-right:20px!important;}
        &-15{margin-right:15px!important;}
        &-10{margin-right:10px!important;}
        &-5{margin-right:5px!important;}
        &-2{margin-right:2px!important;}
        &-neg{
            &-50{margin-right:-50px;}
            &-40{margin-right:-40px;}
            &-30{margin-right:-30px;}
            &-20{ margin-right:-20px;}
            &-15{margin-right:-15px;}
            &-10{margin-right:-10px;}
            &-5{margin-right:-5px;}
        }
    }//right
    &-left{
        &-40{margin-left: 40px!important;}
        &-30{margin-left: 30px!important;}
        &-20{margin-left: 20px!important;}
        &-15{margin-left:15px!important;}
        &-10{margin-left: 10px!important;}
         &-5{margin-left: 5px!important;}
    }//left
    &-0{
        margin:0px!important;
    }
    &-2{
        margin:2px;
    }
    &-5{
        margin:5px;
    }
    &-10{
        margin:10px;
    }
    &-15{
        margin:15px;
    }
    &-20{
        margin:20px!important;
    }
}

.padding{
    &-top{
        &-40{padding-top: 40px!important;}
        &-30{padding-top: 30px!important;}
        &-20{padding-top: 20px!important;}
        &-15{padding-top:15px!important;}
        &-10{padding-top: 10px!important;}
        &-7{padding-top: 7px!important;}
        &-5{padding-top: 5px!important;}
    }//top
    &-bottom{
        &-140{padding-bottom:140px;}
        &-80{padding-bottom: 80px!important;}
        &-50{padding-bottom: 50px!important;}
        &-40{padding-bottom: 40px!important;}
        &-30{padding-bottom: 30px!important;}
        &-20{padding-bottom: 20px!important;}
        &-15{padding-bottom:15px!important;}
        &-10{padding-bottom: 10px!important;}
         &-5{padding-bottom: 5px!important;}
    }//bottom
    &-right{
        &-40{padding-right: 40px!important;}
        &-30{padding-right: 30px!important;}
        &-20{padding-right: 20px!important;}
        &-15{padding-right:15px!important;}
        &-10{padding-right: 10px!important;}
         &-5{padding-right: 5px!important;}
    }//right
    &-left{
        &-40{padding-left: 40px!important;}
        &-30{padding-left: 30px!important;}
        &-20{padding-left: 20px!important;}
        &-15{padding-left:15px!important;}
        &-10{padding-left: 10px!important;}
        &-5{padding-left: 5px!important;}
        &-0{padding-left: 0px !important;}
    }//left
    &-0{
        padding:0px!important;
    }
    &-2{
        padding:2px;
    }
    &-5{
        padding:5px;
    }
    &-10{
        padding:10px;
    }
    &-15{
        padding:15px;
    }
    &-20{
        padding:20px;
    }
}


.padding-0{
    padding:0px!important;
}
.padding-2{
    padding:2px!important;
}
.padding-3{
    padding:3px!important;
}
.padding-5{
    padding:5px;
}
.padding-10{
    padding:10px;
}
.padding-15{
    padding:15px;
}
.padding-20{
    padding:20px;
}
.padding-40{
    padding:40px;
}

//////////////////////////
// QUICK WIDTH - HEIGHT //
//////////////////////////
.height{
    &-100{
        height: 100%;
    }
    &-60{
        height: 60px;
    }
    &-20{
        height: 20px;
    }
    &-auto{
        height: auto;
    }
}

.width{
    &-60{
        width: 60%;
    }
    &-100{
        width: 100%;
    }
    &-200{
        width:200px;
    }
    &-250{
        width:250px;
    }
    &-300{
        width:300px;
    }
}

