.bwt-container-wrap {
  height: 100%;
}




.bwt-container {
  position: fixed;
  left:0;
  top: $nav-toolbar-height;
  height: calc(100vh - #{$nav-toolbar-height}) !important;
}

.bwt-content-wrap {
  margin-left: $sidenav-width !important;

  [dir='rtl'] & {
    margin-left: auto !important;
    margin-right: $sidenav-width !important;
  }
}

.bwt-content {
  position: relative;
  padding: $gutter;
  height: calc(100vh - #{$nav-toolbar-height}) !important;
}
