
.bwt-sidenav-left{
    overflow: hidden;
    width: $sidenav-width;
    height: calc(100vh - #{$nav-toolbar-height}) !important;

    app-bwt-nav-side-profile-info{
        display: block;
        margin-bottom: 20px;
    
        
    }
}