/////////////////
// -FORMAT TEXT //
/////////////////
.ellipsis{
    @include ellipsis(100%);
}
.text-align-center{
    text-align: center;
}
.text-align-justify{
    text-align: justify;
}
.bold{
    font-weight: 800!important;
}
.semi-bold{
    font-weight: 600!important;
}
.regular{
    font-weight: 400!important;
}
.thin{
    font-weight: 300!important;
}
.size{
    &-20{
        font-size: $f-20px;
    }
    &-18{
        font-size: $f-18px;
    }
    &-16{
        font-size: $f-16px;
    }
    &-14{
        font-size: $f-14px;
    }
    &-12{
        font-size: $f-12px;
    }
    &-10{
        font-size: $f-10px;
    }
    &-8{
        font-size: $f-8px;
    }
}

.mat-icon {
    &.size{
        &-20{
            font-size: $f-20px;
            height: 20px; 
            width: 20px;
        }
        &-18{
            font-size: $f-18px;
            height: 18px; 
            width: 18px;
        }
        &-16{
            font-size: $f-16px;
            height: 16px; 
            width: 16px;
        }
        &-14{
            font-size: $f-14px;
            height: 14px; 
            width: 14px;
        }
        &-12{
            font-size: $f-12px;
            height: 12px; 
            width: 12px;
        }
        &-10{
            font-size: $f-10px;
            height: 10px; 
            width: 10px;
        }
        &-8{
            font-size: $f-8px;
            height: 8px; 
            width: 8px;
        }
    }
}

.h{
    &-120{
        min-height: 120px;
    }
    
    &-160{
        min-height: 160px;
    }
    &-140{
        min-height: 140px;
    }
    &-180{
        min-height: 180px;
    }
}
