app-bwt-nav-toolbar {
    z-index: 5;
    height: $nav-toolbar-height;
    min-height: $nav-toolbar-height;
    display: block;
    padding: 0px;
    user-select: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    /*box-shadow: 0 1px 4px rgba(0,0,0,.3);*/
  
    .mat-toolbar-single-row{
      max-height: $nav-toolbar-height!important;
    }

    .mat-toolbar{
        display: flex;
        width: 100%;
        padding: 0 16px;

        .app-title{
            position: fixed;
            left: 55px;
        }

        & .actions {
          position: absolute;
          right: 10px;
          top: -10px;
          z-index: 4;
          font-size: 20px!important;
      }
    }
  
  }

  .actions {
    list-style: none;
    padding: 0;
    z-index: 3;
    margin: 0;

    .mat-icon-button .mat-icon, .mat-icon-button i{
        line-height: 20px!important;
    }
    .mat-icon {
        height: 20px;
        width: 20px;
    }
    .material-icons{
        font-size: 20px!important;
    }

   

    & > li {
        display: inline-block;
        vertical-align: baseline;
    }
    & > button {
        display: inline-block;
        vertical-align: baseline;
        line-height: 30px;
        width: 30px;
        height: 30px;
        
        & > span{
            text-align: center;
            color: #AEAEB6;
            font-size: 20px;
            font-weight: 200;
            font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
            display: inline-block;
            padding-top: 5px;
            
            & .mat-icon-button{
                vertical-align: middle;
                line-height: 20px!important;
                &.mat-icon{
                    color: #AEAEB6;
                    font-size: 20px!important;
                    
                    height: 20px!important;
                    width: 20px!important;

                    &.material-icons{
                        line-height: 20px!important;
                        font-size: 20px!important;
                    }
                }
            }
            &:hover {
                & .mat-icon {
                    color: #000;
                }
            }
        }
    }

    & > li > a,
    & > a {
        width: 30px;
        height: 30px;
        display: inline-block;
        text-align: center;
        padding-top: 5px;

        & > i {
            color: #adadad;
            font-size: 20px;
        }

        &:hover {
            & > i {
                color: #000;
            }
        }

        @include hover-pop(rgba(0,0,0,0.1), 50%, 250ms, 0);
    }

    & > li.open,
    .open {
        & > a {
            & > i {
                color: #000;
            }

            &:before {
                @include scale(1);
                @include opacity(1);
            }
        }
    }

    &.actions-alt {
        & > li {
            & > a > i {
                color: #fff;

                &:hover {
                    color: #fff;
                }
            }

            .open {
                & > a {
                    & > i {
                        color: #fff;
                    }
                }
            }
        }
    }

    .open {
        z-index: 3;
    }
}