*, button, input, i, a {
    -webkit-font-smoothing: antialiased;
}

*,
*:active,
*:hover {
    outline: none !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

html {
    overflow-x: #{"hidden\0/"};
    -ms-overflow-style: none;
}

html, body {
    min-height: 100vh;
}

body {
    font-weight: 400;
    position: relative;
}

audio, video {
    outline: none;
}

p {
    margin-bottom: 20px;
}

small {
    font-size: 11px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    small {
        font-size: 92%;
    }
}

#main, .mat-sidenav-container {
    position: relative;
    padding-bottom: $footer-height - 100;
    padding-top: $header-height + 2;
    min-height: 100vh;
    display: block;
}

.container, .mat-sidenav-container{
  background-color: #F3F3F7;
    &.c-alt {
        max-width: 1170px;
    }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
    #content, .mat-sidenav-content {
        padding-left: 15px;
        padding-right: 15px;
    }
}
/*
body {
  #content {
      @media (min-width: $screen-lg-min) {
          padding-left: $sidebar-left-width;
      }

        > .container, .mat-grid-list {
          @media (min-width: $screen-lg-min) {
              width: #{"calc(100% - 30px)"};
          }
      }
  }
}
*/
body {
    &.sw-toggled {
        #content {
            @media (min-width: $screen-lg-min) {
                padding-left: $sidebar-left-width;
            }

             > .container, .mat-grid-list {
                @media (min-width: $screen-lg-min) {
                    width: #{"calc(100% - 30px)"};
                }
            }
        }
    }
}

   /*--------------------- 
      Background color
    ----------------------*/
    
  .bgm-darkblue {
    background-color: #002D5B !important;
  }
  
  .bgm-lightblue {
    background-color: #197CB6 !important;
  }
  .bgm-whiteblue {
    background-color: #e9f5fc !important;
  }
  .bgm-lblue {
    background-color: rgba(25, 124, 182, 0.6) !important;
  }
  .bgm-red {
    background-color: #C81922 !important;
  }
  
  .bgm-bluegray {
    background-color: #607D8B!important;
  }
  
  .bgm-yellow {
    background-color: #FFEB3B!important;
  }
  
  .bgm-green {
    background-color: #4CAF50!important;
  }
   /*--------------------- 
      Tooltip 
    ----------------------*/
  .tooltip-red {
    background: #b71c1c;
    font-size: 18px!important;
  }
    
  .tooltip-yellow {
    background-color: rgba(255, 235, 59, 0.8)!important;
    color: #002D5B!important;
    font-size: 18px!important;
  }
  .tooltip-darkblue {
    background-color: rgba(0, 45, 91, 0.8) !important;
    font-size: 18px!important;
  }
  .tooltip-green {
    background-color: rgba(76, 175, 80, 0.8)!important;
    font-size: 18px!important;
  }
  
  .tooltip-green-sm {
    background-color: rgba(76, 175, 80, 0.8)!important;
    font-size: 14px!important;
  }