.dropdown-menu {
    box-shadow: $dropdown-shadow;
    @include transition(all);
    @include transition-duration(250ms);
    @include backface-visibility(hidden);
    margin-top: 1px;

    /********* mat button **********/
    & .mat-menu-content {
        
        & > button { 
            padding: 8px 17px;
            @include transition(background-color);
            @include transition-duration(300ms);
            font-family: roboto;
            background-color: transparent;

            .mat-menu-item { 
                display: block;
                clear: both;
                font-weight: 400;
                color: #333;
                text-decoration: none;
            }
            & > .mat-icon {
                color: #adadad;
                font-size: 20px;
                margin-right:2px;
            }
        }
    }
    /********* mat button end **********/
    & > li > a { 
        padding: 8px 17px;
        @include transition(background-color);
        @include transition-duration(300ms);
        font-family: roboto;
    }

    &.dropdown-menu-lg {
        width: 300px;
    }
    
    &.dropdown-menu-sm {
        width: 150px;
    }
    
    &.dropdown-menu-right {
        right: 0;
        left: auto;
        
        & > li > a {
            text-align: right;
        }
    }

    &.dm-icon {
        & > li > a > .zmdi {
            line-height: 100%;
            vertical-align: top;
            font-size: 18px;
            width: 20px;
            text-align: center;
            margin-right: 10px;
        }
    }
    
    &:not([class*="bgm-"]) {
        & > li > a {
            color: #4C4C4C;
            
            &:hover {
                color: #000;
            }
        }
    }
    
    &[class*="bgm-"] {
        & > li > a {
            font-weight: 300;
            color: #fff;
        }
    }
}

.dropdown:not([data-animation]), .btn-group, .date-picker {
    .dropdown-menu {
        @include scale(0);
        @include opacity(0); 
        display: block;
    }
}

.dropdown:not([data-animation]), .bootstrap-select, .btn-group, .date-picker {
    .dropdown-menu {
        &.pull-right, &.dropdown-menu-right {
            @include transform-origin(top right);
        }

        &:not(.pull-right):not(.dropdown-menu-right) {
            @include transform-origin(top left);
        }
    }
}


.dropup:not([data-animation]) {
    .dropdown-menu {
        &.pull-right, &.dropdown-menu-right {
            @include transform-origin(bottom right);
        }

        &:not(.pull-right):not(.dropdown-menu-right) {
            @include transform-origin(bottom left);
        }
    }
}

.dropdown:not([data-animation]), .dropup, .bootstrap-select, .btn-group {
    &.open {
        .dropdown-menu {
            @include scale(1);
            @include opacity(1);
        }
    }
}

.dropdown-header {
    padding: 3px 17px;
    margin-top: 10px;
    color: #b1b1b1;
    text-transform: uppercase;
    font-weight: normal;
}

.btn-group.open .dropdown-toggle {
    box-shadow: none;
}