.btw-container{
  height: 100%;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


.grid-container {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  margin-right: auto;
  margin-left: auto;
}
  
.block-header {
  padding: 0 22px;
  margin-bottom: 5px;
  margin-top: 8px;
  position: relative;
  h2 {
    color: #7B7A86;
    font-size: 15px;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.mat-grid-tile{
  .mat-figure{
    display: block !important;
  }
}

