<div class="block-header">
    <h2 *ngIf="book"><mat-icon class="margin-right-5 blue">local_library</mat-icon>{{book.title}}</h2>
    <h2 *ngIf="!book">Please, Select a book</h2>

    <div class="actions">
      <button *ngIf="isAdmin" mat-icon-button aria-label="Aircrafts"
      (click)="gotoAircraftAdmin()" >
          <mat-icon>view_week</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menuAircrafts" aria-label="Menu Aircrafts">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menuAircrafts="matMenu" xPosition="before">
        <button mat-menu-item>Expand</button>
        <button mat-menu-item>Remove</button>
      </mat-menu>
    </div>
  </div>