<div class="media" (click)="onEditClicked()">
    <div class="flex-start">
        <img  [src]="cover" alt="{{character.crtr_nikname}}" class="lv-img-sm" (load)="onImageLoad()" (error)="onImageError()">
    </div>
    <div class="media-body">
        <div class="lv-title">{{character.crtr_name| truncate:50}} </div>
        <small class="lv-small">{{character.crtr_desc | truncate:100}} </small>
    </div>
</div>