/*
 * Block Header
 * Used for Heading outside the Cards.
 */
 .block-header {
    @media screen and (min-width: $screen-sm-min) {
        padding: 0 22px;
    }

    @media screen and (max-width: $screen-sm-max) {
        padding: 0 18px;
    }

    margin-bottom: 5px;
    margin-top: 8px;
    position: relative;

    & > h2 {
        font-size: 15px;
        color: #777;
        margin: 0;
        font-weight: 400;
        text-transform: uppercase;

        & > small {
            display: block;
            text-transform: none;
            margin-top: 8px;
            margin-bottom: 20px;
            color: #9E9E9E;
            line-height: 140%;
        }
    }

    & .actions {
        position: absolute;
        right: 10px;
        top: -10px;
        z-index: 4;
        font-size: 20px!important;
    }
}
