////////////////////////////////////////
// -LIST OF BOOKS                    //
////////////////////////////////////////
.book-list {
    z-index: 0;
    min-height: calc(100vh - 130px);
    overflow-y: auto;
    display: flex;
    padding: 0px 20px;
    flex-wrap: wrap;
    .book {
        position: relative;
        margin: 20px auto;
        width: 200px;
        height: 300px;
        border-radius: 5px;
        box-shadow: 5px 5px 10px 7px rgba(0,0,0,0.25), -5px -5px 10px 7px rgba(0,0,0,0.22);
        cursor: default;
        transition: 0.4s;

        .book_image {
            width: inherit;
            height: inherit;
            border-radius: 5px;

            & > img {
                width: inherit;
                height: inherit;
                border-radius: 5px;
                object-fit: cover;
              }
        }

        .book_data {
            position: absolute;
            margin-top: -300px;
            border-radius: 5px;
            width: inherit;
            height: inherit;
            display: flex;
            flex-direction: column;
            background: rgba(8, 8, 8, 0.3);

            .book_title {
                text-align: center;
                /*border-radius: 0px 0px 40px 40px;
                font-size: 30px;
                font-weight: bold;*/
                font-family: sans-serif;
                font-weight: 400;
                /*margin-top: -280px;*/
                height: 60px;
                h1{
                    font-size: 28px;
                    font-weight: 400;
                }
                h2{
                    font-size: 14px;
                    font-weight: 100;
                    margin: auto 4px;
                }
                h4{
                    font-weight: 400;
                    font-size: 16px;
                    color: #d9d9d9;
                }
                &:hover {
                    cursor: pointer;
                }
            }

            .book_type{
                font-family: sans-serif;
                font-weight: 200;
                font-size: 12px;
                color: #d9d9d9;
                text-align: center;
                margin-top: 170px;
                
                span {
                    display: inline-block;
                    padding: 5px;
                    border-radius: 5px;
                    min-width: 100px;
                    border: 1px solid rgba(230, 230, 230,0.5);
                    background: rgba(8, 8, 8, 0.4);
                    
                }
            }

            .book-footer{
                position: absolute;
                bottom: 0px;
                height: 25px;
                width: 100%;
                margin-top: 0px;
                padding: 0px 15px 0px 15px;
                color: rgba(230, 230, 230,0.5);
                border-radius: 5px;
                background: rgba(8, 8, 8, 0.3);
                /*
                background: linear-gradient(to bottom, 
                    rgba(30,87,153,0) 0%,
                    rgba(30,87,153,0.8) 15%,
                    rgba(30,87,153,1) 19%,
                    rgba(30,87,153,1) 20%,
                    rgba(41,137,216,1) 50%,
                    rgba(30,87,153,1) 80%,
                    rgba(30,87,153,1) 81%,
                    rgba(30,87,153,0.8) 85%,
                    rgba(30,87,153,0) 100%); 
                    */
                .mat-icon:hover {
                    color: #d9d9d9;
                    cursor: pointer;
                }
                
            }
            .book-footer:hover {background: rgba(8, 8, 8, 0.9);}
            
        }
        .book-data:hover {
            transform: scale(0.96, 0.96);
        }
          
    }
      
    .book:hover {
        transform: scale(0.96, 0.96);
        box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
          -5px -5px 30px 15px rgba(0,0,0,0.22);
    }
      
    .title-white {
        color: white;
    }
      
    .title-black {
        color: black;
    }
      
    @media all and (max-width: 500px) {
        .book-list {
          /* On small screens, we are no longer using row direction but column */
          flex-direction: column;
        }
    }
}

////////////////////////////////////////
// -BOOK CARD as PAGE HEADER         //
//////////////////////////////////////
.book-card{
    position: relative;
    display: block;
    height: 150px;
    margin-bottom: 11px;
    /*
    width: 98%;
    margin: 8px 15px!important; 
    */
    overflow: hidden;
    border-radius: 10px;
    /*transition: all 0.4s;*/
    box-shadow: 0px 0px 120px -25px rgba(0,0,0, 0.5);
    &:hover{
        transform: scale(0.98);
        box-shadow: 0px 0px 80px -25px rgba(0,0,0, 0.5);
        transition: all 0.4s;
    }
    .info{
        position: relative;
        width: 100%;
        height: 100%;
        background-blend-mode: multiply;
        z-index: 2;
        border-radius: 10px;
        .book-header{
            position: relative;
            padding:  15px 25px 5px 25px;
            height: 40%;
            width: 65%;
            min-height: 110px;
            h1{
                color: black;
                font-weight: 400;
                margin-top: 0px;
                margin-bottom:5px;
            }
            h2{
                font-size: 12px;
                font-weight: 100;
                margin:  4px auto;
            }
            h4{
                color: #555;
                font-weight: 400;
                margin-top: 0px;
                margin-bottom:5px;
            }
            .minutes{
                display: inline-block;
                margin-top: 15px;
                color: #555;
                padding: 5px;
                border-radius: 5px;
                border: 1px solid rgba(0,0,0,0.05);
            }
            .type{
                display: inline-block;
                color: #959595;
                margin-left: 10px;
            }
            .coverpage{
                position: relative;
                float: left;
                margin-right: 20px;
                height: 120px;
                box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
            }
        }
        .book-desc{
            padding: 0px 25px;
            height: 50%;
            width: 50%;
            .text{
                color: #545454;
                padding: 0px;
                margin-bottom:0px!important;
                margin-top:0px!important;
            }
        }
        .book-actions{
            height: 10%;
            padding-left: 15px;
            padding-bottom: 0px;

            ul{
                list-style: none;
                padding: 0;

                li{
                    display: inline-block;
                    color: rgba(0,0,0,0.3);
                    transition: color 0.3s;
                    transition-delay: 0.15s;
                    margin: 0 10px;
                    &:hover{
                        transition: color 0.3s;
                        color: rgba(0,0,0,0.7);
                    }
                    i{
                        font-size: 19px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .book-blur-back{
      position: absolute;
      top: 0;
      z-index: 1;
      height: 100%; right: 0;
      background-size: cover;
      width: 80%;
      border-radius: 11px;
      & > img {
        width: 100%;
        height: inherit;
        border-radius: 5px;
        object-fit: cover;
        mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0));
      }
    }
}

////////////////////////////////////////
// -LOGO                             //
////////////////////////////////////////
.logo{
    &-image{
        &-tall{
            @include size(auto, 150px);            
        }
        &-wide{
            @include size(150px, auto);
        }
        &-preload{
            padding-top: 10px; 
            @include size(110px, auto);
        }
    }
}