.mat-card {
    padding: 0px!important;
}

.card {
    position: relative;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
    font-size: 80%;

    .mat-card-footer{
        margin: 2px!important;
    }

    .mat-card-header-text {
        margin: 0 2px!important;
    }
}

.card, .mini-charts-item {
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
}

.card-header {
    position: relative;

    &:not(.ch-alt) {
        @media (min-width: $screen-sm-min) {
            padding: 13px 15px 0px 15px;
        }

        @media screen and (max-width: $screen-sm-max) {
            padding: 8px 8px 0px 8px;
        }
    }

    h2, .mat-card-title { 
        margin: 0;
        line-height: 100%;
        font-size: 17px;
        font-weight: 400;

        small {
            display: block;
            margin-top: 5px;
            color: #AEAEAE;
            line-height: 160%;
        }
    }
    .mat-card-subtitle {
        display: block;
        margin-top: 5px;
        color: #AEAEAE;
        line-height: 160%;
        font-size: 12px;
    } 

    .mat-card-avatar {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        flex-shrink: 0;
        object-fit: cover;
        margin-top: -1px;
    }
    

    &.ch-alt {
        @media screen and (min-width: $screen-sm-min) {
            padding: 10px 13px;
        } 

        @media screen and (max-width: $screen-sm-max) {
            padding: 8px 8px 18px;
        }

        &:not([class*="bgm-"]) {
            background-color: #f7f7f7;
            padding:3px 5px 0px 5px;
        }
    }

    &[class*="bgm-"] {
        h2, h2 small { 
            color: #fff;
        }
    }

    .actions {
        position: absolute; 
        right: 10px;
        z-index: 2; 
        top: 0px;
    }

    .btn-float {
        right: 25px;
        bottom: -23px;
        z-index: 1;
    }
}

.card-body {  
    
    &.card-padding {
        @media screen and (min-width: $screen-sm-min) {
            padding: 23px 25px;
        }

        @media screen and (max-width: $screen-sm-max) {
            padding: 18px;
        }
    }

    &.card-padding-sm { 
        padding: 5px;
    }

    .mat-tab-label{
        min-width: 80px!important;
        padding: 0 12px!important;
    }
    .mat-tab-body-content{
        overflow: hidden!important;
    }
}

.card-header:not(.ch-alt):not([class*="bgm-"]) + .card-padding {
    padding-top: 0;
}
