////////////////////////////////////////
// -CHAPTER                           //
////////////////////////////////////////
.chapter-card {
    background: linear-gradient(to top, #e5e6e6 50%, transparent 100%);
    background-image: url(/assets/images/common/paper_bkg_02.jpg);
    background-size: cover;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 300px;
    padding: 20px;
    margin: 0px 18px 18px 0px;

    .actions {
        position: absolute; 
        right: 2px;
        z-index: 2; 
        top: 0px;
    }

    > h3{
        font-style: italic;
        font-weight: 200;
    }

    .notes, .footer{
        margin-left: -5px;
        margin-right: -5px;
        text-align: justify;
        font-size: 11px;
    }
    .footer{
        position: absolute; 
        bottom: 0px;
        left: 0;
        width: 100%;
        padding: 0px;
        margin: 0px;
        background: #009AD9;
        opacity: 0;
        &:hover{
            transition: opacity 0.3s;
            opacity:100;
            color: rgba(0,0,0,0.7);
          }
        /*background: linear-gradient(to top, #000 50%, transparent 100%);*/
    }
}

app-chapter-list-card {
    width: 100%;
}

app-ctrt-list-small{
    width: 100%;
    margin-left: 20px;
}

.chapter-list{
    overflow: auto;
    padding: 0px!important;
    min-height: 395px;
    height: calc(100vh - 270px) !important;
    .mat-figure{
        align-items: flex-start!important;
    }

    .mat-grid-tile{
        height: calc(100vh - 270px) !important;
    }
    &-card{
        height: calc(100vh - 270px) !important;
        &-body{
            display: flex!important;
            flex-wrap: wrap!important;
            min-height: 200px!important;
            /*background: $scroll-gray;*/
            @extend .card-body;
            margin:0px 20px 10px 20px!important;
            height: calc(100vh - 355px) !important;
            padding: 10px!important;
            overflow-y: auto;
            overflow-x: hidden!important;
        }
    }
    
}

.character-list-card{
    height: calc(100vh - 270px) !important;
    &-body{
        display: block;
        flex-wrap: wrap!important;
        min-height: 200px!important;
        /*background: $scroll-gray;*/
        @extend .card-body;
        margin:0px 20px 10px 20px!important;
        height: calc(100vh - 355px) !important;
        padding: 10px!important;
        overflow-y: auto;
        overflow-x: hidden!important;
    }

}