.editor-grid{
    overflow: auto;
    padding: 0px!important;
    min-height: 395px;
    height: calc(100vh - 130px) !important;
    
    .mat-grid-tile{
        height: calc(100vh - 130px) !important;
    }
    .mat-figure{
        align-items: flex-start!important;
        flex-direction: column;
    }

    app-ctrt-list-small {
        width: 100%;
        height: 100%;
        margin-left: 0px;
    }
    &-card{
        height: calc(100vh - 130px) !important;
        &-body{
            display: flex!important;
            flex-wrap: wrap!important;
            min-height: 200px!important;
            background: $scroll-gray;
            @extend .card-body;
            margin:0px 20px 10px 20px!important;
            height: calc(100vh - 355px) !important;
            padding: 10px!important;
            overflow-y: scroll!important;
            overflow-x: hidden!important;
            
        }
    }

    .angular-editor .angular-editor-textarea{
        height: calc(100vh - 180px) !important;
    }
    .chapter-list-card-body{
        display: block!important;
    }
    
}