
    <div class="block-header">
        <h2>Welcome in Book Writing Tool (BWT) Web Application</h2>
    </div>

    <div class="card margin-left-20 margin-right-20">
      <div class="card-header">
          <h2>Writing Book  
            <small>Writing book requires the right attitude, 
              a powerful book idea, some solid writing prompts, 
              and some writing software ...</small>
            </h2>

          <ul class="actions">
              
          </ul>
      </div>

      <div class="card-body card-padding margin-top-20">
        <div class="size-20 padding-bottom-10">You’ve always wanted to write a novel. But something’s stopped you.</div>
        <div class="size-20 padding-bottom-10">This guides can shows you how to write and  I hope you can apply it to your own writing...</div>
        <div class="list-group">
          <a class="list-group-item media" href="https://jerryjenkins.com/how-to-write-a-novel/" target="_blank">
              <div class="pull-left">
                  <img class="lgi-img" src="../../assets/images/autors/jerry-jenkins-circle.jpg" alt="">
              </div>
              <div class="media-body">
                  <div class="lgi-heading">Jerry Jenkins</div>
                  <small class="lgi-text">This guide  shows you how to write a novel (based on the process I use to write mine). I hope you enjoy it and that you can apply it to your own writing!</small>
              </div>
          </a>
        </div>

        <div class="size-20 padding-20 bgm-lblue white">
          Book Writing Tool (BWT) is a Public Web Interface 
          intended to help in writing process. Although 
          still in the mode of development, the project is accessible to users.

          To check functionality you can register by Register link from top right menu.
        </div>
      </div>
  </div>

  
