<mat-card *ngIf="book" class="card book-card">
    <mat-card-content class="info">
        <div class="book-header">
            <img  [src]="cover" alt="cover" (load)="onImageLoad()" (error)="onImageError()" class="coverpage">
            <h3 class="margin-top-0 margin-bottom-5">{{book.title | truncate:25}}</h3>
            <h2 [matTooltip]="book.subtitle">{{book.subtitle  | truncate:25}}</h2>
            <h4 *ngIf="autor">{{book.adate | date:'yyyy'}}, {{autor.user_name}}</h4>
            <!--
            <span class="minutes"> 117 min, Action, Crime, Fantasy </span>
            -->
        </div>
        <!--
        <div class="book-desc">
            <p class="text">{{book.description}}</p>
        </div>
        -->
        <mat-card-footer class="book-actions">
            <ul>
                <li><i class="material-icons">share</i></li>
                <li><i class="material-icons"></i></li>
                <li><i class="material-icons">chat_bubble</i></li>
            </ul>
        </mat-card-footer>

    </mat-card-content>
    <div class="book-blur-back">
            <img  [src]="cover" alt="cover" (load)="onImageLoad()" (error)="onImageError()">
    </div>
</mat-card>